<div class="container-fluid home-view">
  <div class="row">
    <div class="col-md text-center header-home">
      <h1>MeloMeet</h1>
      <hr class="divider my-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero exercitationem sunt quidem id, reprehenderit adipisci nostrum dolor eveniet repellendus suscipit, ut iste beatae ex natus, quae voluptas in maxime aliquam.</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
   
<br><br><br><br>

<section class="container text-center">
<div class="row ">
<div class="col-md-4">
  <i class="fa fa-user fa-5x"></i><br>
  <h1>Inscription</h1>
  <p>Créer votre profile artiste en selectionnant votre specialité !</p>
</div>

<div class="col-md-4">
<i class="fa fa-comment fa-5x"></i><br>
<h1>Recherche</h1>
<p>Cherchez votre groupe ou vos futur membres pour conquerire le monde de la musique !</p>
</div>

<div class="col-md-4">
<i class="fa fa-music fa-5x"></i><br>
<h1>Création</h1>
<p>Sayez, vous êtes bien entouré, et prêt a pratiquer votre art à son apogée !</p>
</div>
</div>
</section>

 </div>
  </div>
</div>

<section id="about">

</section>
